// Body
$body-bg: #F9FBFB;

// Grid columns
$grid-gutter-width: 20px;

// Typography
$font-family-sans-serif: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.875rem; //14px

$font-size-xs: 0.625rem;  // 10px
$font-size-sm: 0.75rem;   // 12px
$font-size-md: 1em;       // 16px
$font-size-lg: 1.125rem;  // 18px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$h1-font-size: 3rem; //48px
$h2-font-size: 2.875rem; //46px
$h3-font-size: 2.125rem; // 34px
// $h6-font-size = 14px

// Colors
$text-muted: #AFAFAF;
$grey: #313131;
$primary: #5CC4C4;
$secondary: #097373;

// Button
$btn-border-radius: 1rem;

// The navigation bar text colors
$black: rgb(0, 0, 0);
$navbar-light-color: rgba($black, 1);
$navbar-light-hover-color: rgba($black, .5);
$navbar-light-active-color: rgba($black, .7);
$navbar-light-disabled-color: rgba($black, .3);